version: "3.8"

services:
  mysql:
    image: mysql
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: nest_events
      MYSQL_USER: admin
      MYSQL_PASSWORD: admin
    volumes:
      - .docker/mysql/setup.sql:/docker-entrypoint-initdb.d/setup.sql
    ports:
      - 3304:3306

  adminer:
    image: adminer
    restart: always
    ports:
      - 9999:8080
